body{
  background-color: rgb(22, 51, 51);
}
#contener{
    display: flex;
    justify-content: space-evenly;
    color: aliceblue;
    padding-left: 10%;
}

h1{

color: bisque;
margin-left: 18%;

}
h2{

  text-align: center;
}
#contener p{
  margin-left:5%; 
}

#contener img{
  width: 200px;
  height:  200px;
  border-radius: 70%;
margin-left:5%;
}

h2{
  color: blanchedalmond;
text-align: center;

}
#manu{
  display: flex;  
  justify-content: start;
  color: blanchedalmond;
}
  table, th, td{
      
    margin-top: -1%;
    border: 20px solid;
    color: rgb(7, 36, 34);
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    }

th{
  color: rgb(139, 152, 156); 
  
}
  td{
   color: hsl(180, 29%, 93%);  
 
  }
  #flex{
    display: flex;
    justify-content: space-evenly;
    color: blanchedalmond;

  }
  .text img {
float: left;
margin: 0 3%;
  }
  h3{
    color: bisque;
    text-align: center;}
    #manu p{
      padding-left: 30px;
      
      }
      h5{
        font-size: xx-large;
        color: white;
      }
      